/* CSS Document */

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote{
	margin:0px;
	padding:0px;}
 


@font-face {
  font-family: "myfont";
  src: url(../font/fangzheng.TTF);
}

 body{

 font-family: "myfont",Verdana, Arial, sans-serif;
 height: auto;
 }

a{
  text-decoration: none;
}
.clear{
  clear: both;
}


/*header*/

.header{
  margin: 0 auto;
  width: 100%;
  height: 85px;
  margin-top: 0px;
  background: #131313 url(../images/bg.png) center top repeat-x;
}

.logo{
  width: 89px;
  height: 65px;
  float: left;
  margin-top:10px;
  margin-left: 20px;
}


.menu{
  float:right;
  margin-right: 20px;
  margin-top: 8px;
}


.menu ul>li{
  list-style-type: none;
  display: inline-block;
  width: 150;
  height: 65px;
  line-height: 65px;
  margin-right: 65px;
}

.menu ul>li a{
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.menu ul>li a:hover{
  border-bottom: 2px solid #fff;
}
.top_btn {
  float: right;
  margin-right: 10px;
}

.top_btn a{
  display: block;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  float: left;
}


.login{
  width: 98px;
  height: 48px;
  border: 1px solid #fff;
  color: #fff;
  margin-top: 14px;
  margin-right:10px;
  border-radius: 6px;
}


.regit{
  width: 100px;
  height: 50px;
  background-color: #fff;
  color: #8c26eb;
  margin-right: 20px;
  margin-top: 14px;
  border-radius: 6px;
}

/* main */
#main-father{
    width:100%;
    height:720px;
    margin:0 auto;
    background-color:rgb(19,19,19);
}
.main{
  width: 1200px;
  height: 720px;
  margin: 0 auto;
  background-color:rgb(19,19,19);
}
.main-left{
    width:280px;
    margin-left: 20px;
    float:left;
    height:720px;
}
.main-left-list{
    height:684px;
    width:270px;
    margin-top:22px;
    
    background-color:rgb(27,27,27);
}
.main-left-list-search input{
    width: 220px;
    height: 40px;
    text-indent: 50px;
    outline:none;
    font-size: 18px;
    color: #000;
    border: none;
    background: url('../images/search_bar.png') 10px center no-repeat;
    background-color: #fff;
    margin-left: 18px;
    margin-top: 8px;
}
.main-left-list-type{
    margin-top: 20px;
}
.main-left-list-type-font{
    color:#fff;
    font-size:22px;
    font-family:"宋体";
    margin-left:30px;
    margin-bottom: 8px;
}
.main-left-list-type-font2{
    position:absolute;
    margin-top:-17px;
    margin-left:195px;
    color:#8c26eb;
    font-size:14px;
    font-family:"宋体";
}
/**/

label{
   line-height: 20px;
   display: inline-block;
   margin-left: 15px;
   margin-right:15px;
   font-size: 18px;
   font-family: "宋体";
   color: #fff;
}
.radio_type{
   width: 16px;
   height:16px;
   appearance: none;
   -webkit-appearance:none;
   position: relative;
   margin-left: 22px;
   margin-bottom: 8px;
}
.radio_type:before{
   content: '';
   width: 16px;
   height: 16px;
   border: 1px solid rgb(140,38,235);
   display: inline-block;
   border-radius: 50%;
   vertical-align: middle;
}
.radio_type:checked:before{
   content: '';
   width: 16px;
   height: 16px;
   border: 2px solid rgb(140,38,235);
   display: inline-block;
   border-radius: 50%;
   vertical-align: middle;
}
.radio_type:checked:after{
   content: '';
   width: 12px;
   height: 12px;
   text-align: center;
   border-radius: 50%;
   background:rgb(140,38,235);

   display: block;
   position: absolute;
   top:4px;
   left: 4px;
}
.radio_type:checked+label{
   color: rgb(140,38,235);
}
/**/

.main-right{
    width:880px;
    height:720px;
    float:right;
    border:3px solid red;
}

/*search-bar*/
.search_bar input{
  margin-top: 47px;
  outline: none;
  width: 454px;
  height: 56px;
  font-size: 18px;
  text-indent: 50px;
  background: url(../images/search_bar.png) 10px center no-repeat;
  background-color: #fff;
  color: #000;
  border: none;
}










